.posts {
	@include outer-container;
	margin-bottom: 150px;
	@include span-columns(10);
	@include shift(1);
	position: relative;
  width: 1000px;
  background-color: #f5f5f5;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
}

.post {
	@include span-columns(2);
	display: inline-block;
  width: 191px;
  height: 191px;
  margin: 5px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  background-position: center center;
  background-size: cover;
}

