.posts {
	@include outer-container;
	margin-bottom: 150px;
}

.post {
	@include span-columns(2);
	display: inline-block;
  width: 180px;
  height: 180px;
  margin: 5px;
  border: 2px solid $light-gray;
  background-position: center center;
  background-size: cover;
}

