.posts {
	@include outer-container;
	margin-bottom: 150px;
  margin-top: 20px;
	@include span-columns(10);
	@include shift(1);
	position: relative;
  width: 1000px;
  background-color: $background;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
}

.post {
	@include span-columns(2);
	display: inline-block;
  width: 186px;
  height: 191px;
  margin: 5px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  background-position: center center;
  background-size: cover;
}

.hover-tile-outer {
  $base-border-color: gainsboro !default;
  $base-line-height: 1.5em !default;
  $medium-screen: em(640) !default;
  $hover-tile-height: 10em;
  $base-spacing: 1.5em;

  background-position: top;
  background-size: cover;
  background-color: beige;
  border: 1px solid $base-border-color;
  height: $hover-tile-height;
  margin-bottom: $base-line-height;

  .hover-tile-container {
    height: $hover-tile-height;
    overflow: hidden;
  }

  .hover-tile-container:hover > .hover-tile {
    @include transform(translate(0, -100%));
  }

  .hover-tile {
    @include transition(all, 0.1s ease-in-out);
    background: inherit;
    color: white;
    height: inherit;
    overflow: hidden;
    padding: $base-spacing;
  }

  .hover-tile-hidden {
    background: transparentize(#000, 0.5);

    p {
      color: transparentize(#fff, 0.3);
      line-height: $base-line-height;
    }

    a {
      color: shade($white, 20%);

      &:hover {
        color: $white;
      }
    }

    h4 {
      margin: 0 0 0.5em 0;
    }
  }
}

.posts-title {
  height: 80px;
}


