<div class="posts">
	<% @posts.each do |post| %>
		<%= link_to post_path(post), method: :get do %>
			<div class="post" style="background-image: url(<%= post.image_url %>)"></div>
		<% end %>
	<% end %>
</div>


